@font-face {
    font-family: 'Tropical Times';
    src: url('TropicalTimes-Regular.woff2') format('woff2'),
        url('TropicalTimes-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Tropical Times';
    src: url('TropicalTimes-Regular.woff2') format('woff2'),
        url('TropicalTimes-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

